## Listas
Listas são estruturas de dados muito úteis para manipulação e análise de dados. Nesta aula vamos aprender os princípios básicos para manipulação de listas. Criar uma lista em Python é muito simples: \
l = [] # Cria uma lista vazia \
l = [1, 2, 3, 4, 5] # Cria uma lista com 5 inteiros

In [2]:
l = [1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

Para acessar os itens de uma lista, basta utilizar índices, de forma similar ao funcionamento de vetores na linguagem C. Vamos acessar o segundo elemento da nossa lista.

In [3]:
l[1]

2

Pode ser necessário acessar mais de um elemento de uma lista. Neste caso, o que se deseja é obter uma sublista da lista original. Python provê um mecanismo muito simples para gerar uma sublista de uma lista.
Vamos obter os elementos do meio da nossa lista, excluindo o primeiro e o último. Como fazer isso?

In [6]:
l[1:4]

[2, 3, 4]

Diferentemente de um vetor, uma lista pode conter elementos de diferentes tipos. Vamos criar uma lista com inteiros, números de ponto flutuante e strings.

In [8]:
l2 = [8, 7.5, 'data science']
l2

[8, 7.5, 'data science']

Vamos checar agora os tipos dos dados que estamos manipulando.

In [13]:
#type(l2[0])
type(l2[1])
#type(l2[2])

float

Outra característica importante é que elementos de uma lista podem também ser listas, ou seja, podemos ter listas de listas. Vejamos um exemplo:

In [14]:
ll = [[1, 2, 3], ['um', 'dois', 'tres']]
ll

[[1, 2, 3], ['um', 'dois', 'tres']]

Se quisermos acessar a string 'três', como devemos proceder?

In [15]:
ll[1][2]

'tres'

Vamos agora alterar uma lista. Retomando nossa lista inicial l = [1, 2, 3, 4, 5], vamos substituir o inteiro 1 pela string 'um'.

In [16]:
l[0] = 'um'
l

['um', 2, 3, 4, 5]

Se quisermos adicionar um elemento a uma lista, usamos o método append.

In [17]:
l.append(6)
l
#append sempre é inserido no final da lista...

['um', 2, 3, 4, 5, 6]

Para remover um elemento da lista, o método 'pop' deve ser utilizado. Se não for informado um índice, o método pop removerá o elemento da cauda da lista. Se um índice for informado, o elemento que corresponde à posição do índice será removido.

In [18]:
elem = l.pop()
print(elem)
print(l)

6
['um', 2, 3, 4, 5]

In [20]:
elem = l.pop(0)
print(elem)
print(l)

um
[2, 4, 5]

Existem ainda uma série de métodos muito úteis para manipulação de listas. Se você está utilizando o VS Code, o autocomplete lista todos os métodos disponíveis para manipulação de listas. Se estiver usando o Jupyter Notebook no browser, basta pressionar Tab após referenciar a lista para ver todos os métodos disponíveis. Vejamos alguns métodos interessantes: \
-count: conta as ocorrências de um determinado elemento numa lista \
-reverse: inverte a lista \
-insert: insere um elemento numa determinada posição, se já existe um elemento naquela posição, o elemento é deslocado para a posição seguinte \
-remove: similar ao pop \
-sort: ordena a lista

Suponha que você queira criar uma lista com números gerados automaticamente. Para tanto, você pode usar o método range. Duas assinaturas são possíveis: \
range (stop): gera números a partir do zero até 'stop' \
range (start, stop): gera números a partir de 'start' até 'stop' \
range (start, stop, step): gera números a partir de 'start' até 'stop' com espaçamento entre os números de 'step'

In [22]:
list (range(5))

[0, 1, 2, 3, 4]

In [23]:
list(range(10,20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [24]:
list(range(10,100, 5))

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

Por fim, podemos processar uma lista usando um laço for. Vamos criar uma lista de nomes e imprimir de forma numerada essa lista.

In [28]:
lista_nomes = ['Maria' , 'João', 'Pedro', 'Ana', 'Carolina']
i = 1
for nome in lista_nomes:
  print(str(i) + ' - ' + nome)
  i=i+1

1 - Maria
2 - João
3 - Pedro
4 - Ana
5 - Carolina

### Exercícios

1) Crie uma lista contendo as seguintes frutas: banana, maçã, pera, caqui e laranja. \
A. Ordene e imprima a lista
B. Insira abacate no início da lista e uva no final e imprima a lista \
C. Imprima o elemento do meio da lista \
D. Imprima os 3 primeiros elementos da lista \
E. Imprima os 3 últimos elementos da lista \
F. Inverta a lista e imprima a lista invertida \
G. Imprima uma lista de compras contendo 3 unidades de cada fruta

In [62]:
#A. Ordene e imprima a lista
lista_frutas = ['banana', 'maçã', 'pera', 'caqui', 'laranja']
lista_frutas.sort()
lista_frutas

['banana', 'caqui', 'laranja', 'maçã', 'pera']

In [63]:
lista_frutas.insert(0, 'abacate')
lista_frutas.append('uva')
lista_frutas

['abacate', 'banana', 'caqui', 'laranja', 'maçã', 'pera', 'uva']

In [64]:
#C. Imprima o elemento do meio da lista
meio = len(lista_frutas) //2

lista_frutas[meio]

'laranja'

In [65]:
#D. Imprima os 3 primeiros elementos da lista
lista_frutas[:3]

['abacate', 'banana', 'caqui']

In [66]:
#E. Imprima os 3 últimos elementos da lista
lista_frutas[-3:]

['maçã', 'pera', 'uva']

In [67]:
#F. Inverta a lista e imprima a lista invertida
lista_frutas.reverse()

lista_frutas

['uva', 'pera', 'maçã', 'laranja', 'caqui', 'banana', 'abacate']

In [69]:
#G. Imprima uma lista de compras contendo 3 unidades de cada fruta
for f in lista_frutas:
  print('3 ' + f + 's')

3 uvas
3 peras
3 maçãs
3 laranjas
3 caquis
3 bananas
3 abacates

2) Considere a lista a seguir.

In [54]:
lista = [12, 8, 15, 10, 12, 6, 19, 23, 7, 8, 14, 12, 20, 4, 14, 12, 8, 25, 21, 11]

A. Obtenha o maior elemento da lista. \
B. Obtenha a soma dos elementos da lista. \
C. Informe o tamanho da lista (sua quantidade de elementos). \
D. Troque a posição do primeiro e do último elementos da lista (primeiro vira último e último vira primeiro). \
E. Obtenha o segundo maior elemento da lista. \
F. Conte as ocorrências do número 12. \
G. Crie uma lista l1 contendo os elementos pares da lista e uma lista l2 contendo os elementos ímpares. Imprima l1 e l2.

In [70]:
#A. Obtenha o maior elemento da lista.
max(lista)

25

In [71]:
#B. Obtenha a soma dos elementos da lista.
sum(lista)

261

In [72]:
#C. Informe o tamanho da lista (sua quantidade de elementos).
len(lista)

20

In [81]:
#D. Troque a posição do primeiro e do último elementos da lista (primeiro vira último e último vira primeiro).
print(lista)
lista[0], lista[-1] = lista[-1], lista[0]

print(lista)

[11, 8, 15, 10, 12, 6, 19, 23, 7, 8, 14, 12, 20, 4, 14, 12, 8, 25, 21, 12]
[12, 8, 15, 10, 12, 6, 19, 23, 7, 8, 14, 12, 20, 4, 14, 12, 8, 25, 21, 11]

In [82]:
#E. Obtenha o segundo maior elemento da lista.
lista.sort()
lista[-2]

23

In [74]:
#F. Conte as ocorrências do número 12.
lista.count(12)

4

In [83]:
#G. Crie uma lista l1 contendo os elementos pares da lista e uma lista l2 contendo os elementos ímpares. Imprima l1 e l2.
l1 = []
l2 = []

for item in lista:
  if item%2 == 0:
    l1.append(item)
  else:
    l2.append(item)

print(l1)
print(l2)

[4, 6, 8, 8, 8, 10, 12, 12, 12, 12, 14, 14, 20]
[7, 11, 15, 19, 21, 23, 25]